%form{class: 'form login-form'}
  .formview
    .fields
      %input{type: 'text', placeholder: 'Username or Phone number', class: 'input login-input', disabled: :disabled}
      %input{type: 'password', placeholder: 'Password', class: 'input pwd-input', disabled: :disabled}
  .footer
    %input{type: 'submit', value: 'Login', class: 'btn', disabled: :disabled}
    %input{type: 'submit', value: 'Forgot your password', class: 'link-login', disabled: :disabled}