%form{class: 'form', id: 'login-form'}
  %span.m2-auth-token
    %fieldset
      .email
        %label
          Username or Phone number
        .input-wrapper
          %input{type: 'text', class: 'input', disabled: :disabled}
      .password
        %label
          Password
        .input-wrapper
          %input{type: 'password', class: 'input', disabled: :disabled}
    %span.w-button-bright.w-button-common
      %input{type: 'submit', value: 'Login', class: 'btn', disabled: :disabled}