%form{class: 'form login-form'}
  .formview
    .fields
      %input{type: 'text', placeholder: 'Username or Phone number', class: 'input login-input', disabled: :disabled}
      %input{type: 'password', placeholder: 'Password', class: 'input pwd-input', disabled: :disabled}
    .footer
      %input{type: 'submit', value: 'Login', class: 'btn', disabled: :disabled}
  #footer
    = link_to 'Create Account', reg_path, class: 'auth-link'
    .other-links
      %ul
        %li
          %span
            = link_to 'Forgot password?', '#'
            -#%span .
            -#= link_to 'Help Center', '#'