%form{class: 'form reg-form'}
  %fieldset
    %input{type: 'text', placeholder: 'Name', class: 'input name-input', disabled: :disabled}
    %input{type: 'text', placeholder: 'Email', class: 'input email-input', disabled: :disabled}
    %input{type: 'password', placeholder: 'Password', class: 'input pwd-input', disabled: :disabled}
  .footer
    %input{type: 'submit', value: 'Sign Up', class: 'btn btn-common btn-reg', disabled: :disabled}