%form{class: 'form reg-form'}
  .formview
    .fields
      %input{type: 'text', placeholder: 'Name', class: 'input login-input', disabled: :disabled}
      %input{type: 'text', placeholder: 'Phone number', class: 'input login-input', disabled: :disabled}
      %input{type: 'password', placeholder: 'Password', class: 'input pwd-input', disabled: :disabled}
    .footer
      %input{type: 'submit', value: 'Create Account', class: 'btn', disabled: :disabled}
  #footer
    = link_to 'Log In', login_path, class: 'auth-link'
