/* mixins, variables, etc. */
@-ms-viewport {
  width: device-width;
}

/* line 18, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, menu, input, textarea {
  margin: 0;
  padding: 0;
  border: 0 none;
  vertical-align: baseline;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  font-weight: inherit;
  line-height: inherit;
  font-size-adjust: inherit;
  font-stretch: inherit;
  -moz-font-feature-settings: inherit;
  -moz-font-language-override: inherit;
  font-size: 100%;
}

/* line 35, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 0.813em;
  line-height: 1em;
  color: #333;
  background-color: #E8E8E8;
}

/* line 43, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
.container {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #EEE;
}

/* line 52, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header {
  background-color: #80aab8;
  line-height: 32px;
  padding: 0 0.75em;
}
/* line 57, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header table {
  width: 100%;
}
/* line 61, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header .header-left:not(#welcome-header-left) {
  width: 70%;
}
/* line 65, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header .header-right:not(#welcome-header-right) {
  width: 30%;
}
/* line 69, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header .left, #header .header-left {
  font-weight: bold;
}
/* line 73, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header .right, #header .header-right {
  text-align: right;
}
/* line 77, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header td {
  min-height: 32px;
}
/* line 81, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header .brandmark, #header .title {
  font-weight: bold;
}
/* line 84, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header .brandmark {
  margin-right: 0.375em;
}
/* line 88, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header span {
  color: #FFF;
}
/* line 92, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header table, #header td, #header tr, #header span, #header img, #header a {
  vertical-align: top;
}
/* line 96, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#header .close, #header .brandmark, #header .title, #header .divider {
  height: 32px;
  display: inline-block;
  line-height: 32px;
}

/* line 103, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
}

/* line 112, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
a:link, a:active, a:visited {
  color: #56c2e1;
  text-decoration: none;
}

/* line 120, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#main_content {
  padding: 0.75em;
  border-bottom: 1px solid #DDD;
  background-color: #FFF;
}
/* line 125, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#main_content h2 {
  font-size: 16px;
  padding: 10px 0 0 0;
  border: 0 none;
  line-height: 120%;
}
/* line 132, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#main_content .hint {
  color: #999;
}
/* line 136, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#main_content a {
  font-weight: bold;
}
/* line 140, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#main_content label {
  display: block;
  margin-top: 0.75em;
}
/* line 145, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#main_content .body {
  margin-top: 1em;
}
/* line 149, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#main_content .input-wrapper {
  margin-top: 0.25em;
  overflow: hidden;
  border-right: 1px solid #CCC;
}
/* line 155, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#main_content .input {
  padding: 3px 0.25em;
  border: 1px solid #CCC;
  border-radius: 0;
  background-color: #FFF;
  margin: 0px;
  width: 100%;
}
/* line 164, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#main_content .w-button-bright {
  display: block;
  margin-top: 1em;
}

/* line 170, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
h2 {
  font-weight: bold;
  padding: 0.75em;
  border-bottom: 1px solid #E8E8E8;
}

/* line 176, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
.hint {
  margin-top: 5px;
  color: #999;
}

/* line 181, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
.body {
  margin-top: 1em;
}

/* line 185, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
.m2-auth-token {
  margin: 0;
  padding: 0;
  display: inline;
}

/* line 191, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
label {
  display: block;
  margin-top: 0.75em;
}

/* line 196, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
.input-wrapper {
  margin-top: 0.25em;
  overflow: hidden;
  border-right: 1px solid #CCC;
}

/* line 203, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
.w-button-bright {
  display: block;
  margin-top: 1em;
}

/* line 208, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
.w-button-bright {
  background-color: #56c2e1;
  border: 1px solid #46b3d3;
  color: white;
}

/* line 214, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
.w-button-common {
  text-align: center;
  font-weight: bold;
  display: inline-block;
  padding: 3px 0.75em;
  vertical-align: middle;
  color: #333;
}

/* line 223, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
input {
  width: 100%;
  background-color: #56c2e1;
  line-height: 2em;
  vertical-align: middle;
  font-weight: bold;
  border-width: 0;
  border-style: none;
}

/* line 238, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#footer {
  padding: 0.75em;
}
/* line 241, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#footer .signup {
  margin: 1em0;
  text-align: center;
  font-weight: bold;
}
/* line 245, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
#footer .signup .hint {
  margin-top: 10px;
}

/* line 251, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
.fgt-pw {
  margin-top: 15px;
}

/* line 255, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
.footer {
  margin: 15px 0 10px;
}

@media only screen and (min-width: 768px) {
  /* line 263, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
  body {
    font-size: 0.875em;
    line-height: 1.25em;
    text-align: center;
  }

  /* line 269, C:/BitNami/rubystack/projects/loudius/app/assets/stylesheets/mobile/main.css.scss */
  .container {
    margin: 0 auto;
    width: 520px;
    height: 100%;
    border-width: 0 1px 1px;
    border-color: #DDD;
    border-style: solid;
    text-align: left;
  }
}
