#header
  %table#top
    %tbody
      %tr
        %td.header-left
          -#= link_to(image_tag('', size: '28x28', class: 'logo'), root_path, class: 'brandmark')
          %span.title Welcome to Loudius
        %td.header-right