%meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
%meta{name: 'description', content: 'All the latest from friends and the world around you. What friend are talking about. Be discovered'}