%meta{content: "text/html; charset=UTF-8", "http-equiv" => "content-type"}/
%meta{content: "True", name: "HandheldFriendly"}/
%meta{content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0", name: "viewport"}/
%meta{content: "{&quot;pwreset-iphone&quot;:true,&quot;android&quot;:true,&quot;email&quot;:true}", name: "loudius-redirect-srcs"}/
%meta{name: 'description', content: 'All the latest from friends and the world around you. What friend are talking about. Be discovered'}